.section.team {
  background-color: $accent-bg-color;
}

.team__list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$team-list-tablet-set-gap});
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * #{$team-list-desktop-set-gap});
  }
}

.team__item {
  background-color: $primary-white-color;
  box-shadow: $card-shadow;
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(
      100% / #{$team-list-tablet-set} - #{$team-list-tablet-set-gap}
    );
    margin-left: #{$team-list-tablet-set-gap};
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      100% / #{$team-list-desktop-set} - #{$team-list-desktop-set-gap}
    );
    margin-left: #{$team-list-desktop-set-gap};
  }
}

.team__card-box {
  padding: 30px 10px 24px 10px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding: 30px 10px;
  }
}

.team__card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__card-text {
  margin-bottom: 16px;
  color: $text-color;
  font-size: 16px;
  line-height: 1.18;
}
