.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$section-clients-mobile-set-gap});

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * #{$section-clients-tablet-set-gap});
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: calc(-1 * #{$section-clients-desktop-set-gap});
  }
}

.clients__item {
  flex-basis: calc(
    100% / #{$section-clients-mobile-set} - #{$section-clients-mobile-set-gap}
  );
  margin-left: #{$section-clients-mobile-set-gap};
  @media screen and (min-width: 768px) {
    flex-basis: calc(
      100% / #{$section-clients-tablet-set} - #{$section-clients-tablet-set-gap}
    );
    margin-left: #{$section-clients-tablet-set-gap};
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      100% / #{$section-clients-desktop-set} - #{$section-clients-desktop-set-gap}
    );
    margin-left: #{$section-clients-desktop-set-gap};
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid $icons-color;
  border-radius: 4px;
  transition: $transition-bg-color;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  @media screen and (max-width: 767px) {
    max-width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: $icons-color;
  transition: $transition-fill;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
