.description__list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$description-list-tablet-set-gap});
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * #{$description-list-desktop-set-gap});
  }
}

.description__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background: $accent-bg-color;
  border-radius: 4px;
}

.description__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(
      100% / #{$description-list-tablet-set} - #{$description-list-tablet-set-gap}
    );
    margin-left: #{$description-list-tablet-set-gap};
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      100% / #{$description-list-desktop-set} - #{$description-list-desktop-set-gap}
    );
    margin-left: #{$description-list-desktop-set-gap};
  }
}

.description__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.description__text {
  color: $text-color;
  margin-bottom: 0;
}
