html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    background-color: var(--main-color);
  }
  /* --------спрятать текст---------- */
  
  .section--visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  /*-----------утиллиты----------- */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    color: var(--main-text-color);
  }
  
  .header {
    border-bottom: 1px solid var(--border-bottom-header);
  }