:root {
  --main-color: #ffffff;
  --container-bg-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --logo-color: #000000;
  --button-bg-color: #188ce8;
  --border-bottom-header: #ececec;
  --border-item-card-set: #eeeeee;
  --hero-background-color: #c4c4c4;
  --icon-fill-color: #afb1b8;
  --card-set-gap: 30px;
}